# User-specific files
google_api_key.txt
data/
parameters/
imgs/_other/

# Output files from R CMD build
/*.tar.gz


# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.idea

.DS_Store


.gitattributes
/.ipynb_checkpoints/
*.pyc

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.ruff_cache

# Specific to src directory
src/__pycache__/
src/**/*.py[cod]

# Python package files
*.egg-info
# R files 
.Rhistory
